.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  overflow: hidden;
  background-color: rgb(205, 204, 236);
  position: fixed;
  top: 0;
  width: 100%;
  height: 5%;
} 
.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  width: 15%;/*to spread out evenly*/
  text-decoration: none;
  /* font-size: 100% */
}

.navbar a:hover {
  background: rgb(238, 236, 236);
  color: black;
} 
.logout{
  float: right;
  margin-right: 80px
}
.home,
.userPage,
.currentUserPage{
  margin-top: 60px;
  margin-left: 100px;
}